body {
    background-color: rgb(253, 251, 251);
    margin: 0px;
}

header {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 130px;
    top: 0;
    padding-top: 10px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    color: yellow;
    align-content: space-between;
    text-decoration: none;
}

header a {
    color: yellow;
    text-decoration: none;
}

.hd-l {
    padding-right: 600px;    
    padding-left: 30px;
}
.hd-r {
    padding-left: 400px;
    padding-right: 20px;
    padding-top: 30px;
}

main {
    margin-top: 120px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    background-color: #363636;
    height: 500px;
}

main h1 {
    padding-top: 30px;
}

.first-btn {
    width: 350px;
    height: 75px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.servicos {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
}

.box-serv {
    width: 30%;
    height: 30%;
    padding: 10px;
}

.article {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    padding-left: 45px;
    padding-right: 45px;
}

.consult-espec {
    height: 400px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    background-image: url(/img/ultimo-banner.jpg);
}

.end-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.box {
    width: 240px;
    padding-top: 25px;
}

ul .list-cons{
    align-self: center;
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
}

ul .list-banner {
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
}

.center {
    width: 500px;
    padding-top: 30px;
    margin-top: 25px;
    align-self: center;
    width: 300px;
}

footer {
    background-color: black;
    padding-bottom: 10px;
    color: yellow;
    text-align: center;
    bottom: 0px;
}

#rodape {
    padding-left: 10px;
    padding-top: 35px;
}

